*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Images/2.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    
}
nav ul li a {list-style-type: none;
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
color: greenyellow;
cursor: pointer;
}
a:active{
    color: greenyellow;
    
}

header{
    background-color: black;
    height: 120px;
    
}
.logo{font-size: 40px;
    position: relative;
    top: 50px;
    left: 300px;
    display: inline;
    color: white;
   
    left: 400px;
   
}


nav ul{list-style: none;

}
nav ul li{
    float: right;
    margin-inline:20px;
    font-size: 30px;
    position: relative;
    margin-top: 60px;
    right: 400px;
    color: white;
}

nav ul li .btn{
    border: 1px solid greenyellow;
    background-color: transparent;
    color: white;
    padding: 10px 20px 10px 20px;
    position: relative;
    top: -4px;
    font-size: 15px;
}

nav ul li .btn:hover{
    background-color: greenyellow;
    cursor: pointer;
}

.container {
   
    flex-direction: column;
    align-items:center;
    display: inline;
    position: relative;
    top: 200px;
    left: 200px;
   background: transparent;
    margin: 20px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;}

 .container p{display: inline;
    margin-bottom: 10px;
     font-size: 40px;}
    

.container button{
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: black;
    border: 2px solid greenyellow;
    display: block;
    font-size: 15px;
}
.container h1{
    font-size: 200px;
    display: flex;
    align-content: flex-start;
    margin-inline: 20px;
    text-shadow: 0 0 10px #649018;
    
    
}
.container button:hover{
    padding: 10px 20px 10px 20px;
    color: white;
    background-color:greenyellow;
    cursor: pointer;
   
}

    .box {
   
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
        position: relative;
        top: 10px;
        left: 30px;
       background: transparent;
        margin: 20px;
        text-align: left;
       color:black;
        font-size: 20px;}

       
        h1{font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 30px;

        }
        sup{color: rgb(198, 20, 20);

        }
       label:hover{color: black;

       }
       label{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: 20px;

       }
       .form{
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: 100px;
        left: 200px;
        
       }

       .send{
        padding: 10px 20px 10px 20px;
    color: white;
    background-color: black;
    border: 2px solid greenyellow;
   
    font-size: 15px;
       }

       .send:hover{
        padding: 10px 20px 10px 20px;
    color: white;
    background-color:greenyellow;
    border: 2px solid greenyellow;
    cursor: pointer;
    animation-name: send;
    animation-duration: 4s;
   font-size: 15px;
       }

       @keyframes send {
        from {background-color:greenyellow;}
        to {background-color: yellow;}
      }

       form sup{
        color: rgb(7, 7, 6);
       }
       div .contact{
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: 20px;
        left: 200px;

       }

       .contact h1{
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: 20px;
        left: 50px;

       }
       
       .contact h3{
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: 30px;
        left: 50px;

       }
       .contact p{
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: 40px;
        left: 50px;

       }

       .flex-container {
        display: flex;
       }
      .flex-container img{
        align-items: center;
        border: 2px solid greenyellow;
        margin: 20px;
      }

      .img1 {
        position: relative;
        top: 200px;
        left: 200px;
        z-index: 1;
      }
      .img4 {
        position: relative;
        top: 400px;
        left: -100px;
        z-index: 1;
      }
      .iframe {
        display: flex;
        flex-direction: column;
        margin: 15px;
        margin-inline: 20px;
        padding: 10px;
        
     }
     .iframe1{
        border: 2px solid greenyellow;
     }
     .iframe2{
        border: 2px solid greenyellow;
     }

     .connect{
        padding: 10px 20px 10px 20px;
        color: white;
        background-color: black;
        border: 2px solid greenyellow;
        display: flex;
        font-size: 15px;
    }

    .connect:hover{
        padding: 10px 20px 10px 20px;
        color: white;
        background-color: greenyellow;
        border: 2px solid greenyellow;
        display: flex;
        font-size: 15px;
        animation-name:connect;
    animation-duration: 4s;
    cursor: pointer;
  
    }

       @keyframes connect {
        from {background-color:greenyellow;}
        to {background-color: yellow;}
      }

      .home{
        padding: 10px 20px 10px 20px;
        color: white;
        background-color: black;
        border: 2px solid greenyellow;
        display: flex;
        font-size: 15px;
        flex-direction: column;
        position: relative;
        left: 250px;
        top: 50px;
    }

    

    .home:hover{
        padding: 10px 20px 10px 20px;
        color: white;
        background-color: greenyellow;
        border: 2px solid greenyellow;
        display: flex;
        font-size: 15px;
        animation-name:connect;
    animation-duration: 4s;
    cursor: pointer;
  
    }

    .myworks {
        position: relative;
        font: 2em sans-serif;
    /* display: block; */
    left: 250px;
        top: 460px;
    }

    .screenshots {
        display: grid;
  grid-template-columns: repeat(2, 110px);
  grid-template-rows: repeat(1, 10px);
  grid-gap: 150px;
   position: relative;
   left: 250px;
    top: 480px;
    }

    .service{
        display: flex;
        justify-items: flex-start;
        position: relative;
        font-size: 30px;
        top: 200px;
        left: 170px;
    }

    .service {
        width: 580px;
        height: 480px;
        background-color: rgb(13, 10, 10);
        animation-name: example;
        animation-duration: 4s;
        border: 2px solid greenyellow;
        color: white;
        padding: 30px 10px 15px 25px;
        box-shadow: 10px 10px 5px rgb(7, 8, 9);
      }
      
      @keyframes example {
        from {background-color: rgb(9, 6, 6);}
        to {background-color:  greenyellow;}
      }

    


       

      